body {
    font-family: "Roboto", Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin: 20px 0px;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('..../fonts/RobotoSlab-Bold.woff2') format('woff2'),
        url('..../fonts/RobotoSlab-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('..../fonts/RobotoSlab-Regular.woff2') format('woff2'),
        url('..../fonts/RobotoSlab-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.wrapper {
    max-width: 70%;
    max-width: 960px;
    margin: 0 auto;
}

::placeholder {
    font-size: 14px;
    color: #b3b3b3;
    font-weight: 400;
    font-family: "Roboto";
}

.form-3 hr,
.form-4 hr {
    margin-bottom: 50px;
    height: 1px;
    border: none;
    background-color: #dcdcde;
}

.form-5 hr:first-child {
    margin-bottom: 50px;
    background-color: #e9e9e9;
}

.form-5 hr {
    background-color: #e9e9e9;
    ;
}

.form-2 hr {
    margin-bottom: 50px;
    height: 1px;
    border: none;
    background-color: #dcdcde;
}

.site h1 {
    margin: 77px 0 25px 0;
    font-size: 30px;
    color: #1f222c;
    font-weight: 700;
    font-family: "Roboto Slab";
    text-align: center;
}

.form-1 {
    font-size: 20px;
    letter-spacing: 0px;
    color: #b3b3b3;
    font-weight: 700;
    font-family: "Roboto";
}

h2 {
    margin: 0;
    padding-bottom: 44px;
    font-size: 20px;
    letter-spacing: 0px;
    color: #b3b3b3;
    font-weight: 700;
    font-family: "Roboto";
    text-transform: uppercase;
}

.simple input,
select {
    border-radius: 3px;
    display: block;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #cccccc;
    width: 100%;
    padding: 12px 15px;
}


.simple input:focus,
.simple textarea:focus,
.simple select:focus,
.form-4 textarea:focus,
.form-5 input:focus,
.form-6 input:focus {
    outline: none;
    box-shadow: (0 0 2.5px rgba(62, 106, 255, 0.55));
    border: 1px solid #3e6aff;
}

.simple option {
    padding: 15px 0;
    font-size: 14px;
    font-weight: 400;
    font-family: "Roboto";
}

.form-1 {
    width: 330px;
    text-align: left;
    display: block;
    margin-bottom: 30px;
}

.form-2 [type=submit] {
    border: none;
}

.simple textarea,
.form-4 textarea {

    padding: 10px 15px;
    min-height: 130px;
    max-height: 400px;
    margin-bottom: 10px;
    width: 100%;
    border-radius: 3px;
    box-sizing: border-box;
    border: 1px solid #cccccc;
    vertical-align: bottom;
    resize: vertical;
}

.form-1 select {
    margin-top: 10px;
}

.button input [type=submit] {

    background-color: #12d661;
    margin-bottom: 60px;
    font-size: 14px;
    font-weight: 700;
    font-family: "Roboto";
    text-align: center;
}

.last+label {
    font-size: 14px;
    color: #b3b3b3;
    font-weight: 400;
    font-family: "Roboto";
}

.last {
    background-color: #f7f7f7;
}

.flex {

    align-items: center;
    display: flex;
    justify-content: space-between;
}

.form-2 {
    display: block;
    margin-bottom: 40px;
}

.form-2 {
    display: block;
    max-width: 100%;
}

.form-2 p {
    display: flex;
    margin: 0;
    position: relative;
    padding: 0;
    font-size: 14px;
    color: #1f222c;
    font-weight: 400;
    font-family: "Roboto";
}

.row-1 label {
    display: inline-block;
    text-align: center;
}

.checkbox {
    display: none;
    position: relative;
}

.checkbox:checked+label::before {
    border: 1px solid #3e6aff;
}

.checkbox+label {
    padding-left: 25px;
}

.checkbox+label:before {
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    left: 0;
    top: 0;
    border-color: #244dd7;
    border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #cccccc;
    background-color: #fff;

}

.checkbox:checked+label::after {
    position: absolute;
    content: "";
    width: 4px;
    left: 6px;
    height: 7px;
    top: 2px;
    border-radius: 1px;
    border-right: 2px solid #244dd7;
    border-bottom: 2px solid #244dd7;
    transform: rotate(45deg);
}

.column-1 input {
    display: block;
}

.column-1 label {
    display: flex;
}

.column-1 p {
    padding-bottom: 16px;
}

.radio,
.column-1 input {
    display: none;
    position: relative;
}

.radio+label {
    padding-left: 25px;
}

.radio+label:before {
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    background-color: #fff;
    border: 1px solid #cccccc;
    border-radius: 50%;
    left: 0;
    top: 0;
}

.radio:checked+label::before {
    background-color: #ffffff;
    border: 1px solid #3e6aff;
}

.radio:checked+label:after {
    position: absolute;
    content: "";
    width: 7px;
    height: 7px;
    border: 1px solid #3e6aff;
    background-color: #3e6aff;
    border-radius: 75%;
    border-style: none;
    left: 5px;
    top: 5px;

}

.column-2 p {
    padding-bottom: 16px;
    font-size: 14px;
    color: #1f222c;
    font-weight: 400;
    font-family: "Roboto";
}

.column-3 h1 {
    margin: 0;
    padding-bottom: 16px;
    font-size: 14px;
    color: #b3b3b3;
    font-weight: 700;
    font-family: "Roboto";
    min-width: 70px;
    display: inline-block;
}

.column-3 label {
    position: relative;
    font-size: 14px;
    color: #1f222c;
    font-weight: 400;
    font-family: "Roboto";
}

.column-3 {
    padding: 20px;
    border-radius: 3px;
    background-color: #f7f7f7;
    border: 1px solid #e5e5e5;
}

[type="date"] {
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
}

.jc {
    display: flex;
    justify-content: space-between;
    padding-top: 34px;
    padding-bottom: 50px;
}

.form-3 h2,
.form-4 h2 {
    font-size: 20px;
    letter-spacing: 0px;
    color: #b3b3b3;
    font-weight: 700;
    font-family: "Roboto";
    text-transform: uppercase;
}

.man {
    display: none;

}

.man+label {
    position: relative;
    display: inline-block;
    padding: 35px 100px;
}

.man+label:before {
    position: absolute;
    content: "";
    left: 0;
    top: 10px;
    width: 70px;
    height: 70px;
    background-image: url(img/man.png);
    background-repeat: no-repeat;
}

.man:checked+label::before {
    content: "";
    background-image: url(img/manchecked.png);
    background-repeat: no-repeat;
    font-size: 16px;
    width: 70px;
    height: 70px;
}

.man:checked+label,
.women:checked+label {
    color: #3e6aff;
}

.women {
    display: none;
    position: relative;
}

.women+label {
    position: relative;
    display: inline-block;
    padding: 15px 100px;
}

.women+label:before {
    position: absolute;
    background-image: url(img/women.png);
    content: "";
    left: 0;
    width: 70px;
    height: 70px;
    bottom: -10px;
}

.women:checked+label:before {
    position: absolute;
    content: "";
    background-image: url(img/womenchecked.png);
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;

}

.checks {
    display: none;
}

.checks+label {
    display: inline-block;
    position: relative;
    padding-left: 55px;
    padding-bottom: 20px;
}

.checks+label::before {
    content: "";
    position: absolute;
    width: 47px;
    height: 26px;
    left: -1px;
    border: 1px solid black;
    border-radius: 12px;
    background-color: #cfcfd1;
    border: none;
}

.checks+label::after {
    position: absolute;
    content: "";
    border: 1px solid black;
    width: 23px;
    height: 22px;
    border-radius: 11px;
    left: 2px;
    top: 2px;
    background-color: #fff;
    border: none;
}

.checks:checked+label::before {
    background-color: #3e6aff;
}

.checks:checked+label::after {
    position: absolute;
    content: "";
    width: 23px;
    height: 22px;
    left: 20px;
    transition: all 0.5s ease;

}

table label {
    position: relative;
}

.form-5 {
    padding: 50px 50px;
}

.form-4 {
    font-size: 14px;
    color: #1f222c;
    font-weight: 400;
    font-family: "Roboto";
}

.form-4 td {
    vertical-align: top;
    padding-left: 135px;
}

.form-4 td:first-child {
    padding: 10px 0;
}

.form-4 input {
    width: 340px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid #cccccc;
    padding: 12px 15px;
}

.form-4 input:focus {
    outline: none;
    box-shadow: (0 0 2.5px rgba(62, 106, 255, 0.55));
    background-color: #ffffff;
    border: 1px solid #3e6aff;
}

.submit-4[type=submit] {
    width: 170px;
    border-radius: 3px;
    background-color: #3e6aff;
    color: #ffff;
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Roboto";
    text-align: center;
}

.submit-4[type=submit]:hover {
    background-color: #1145f1;
}

.button {
    cursor: pointer;
    background-color: #12d661;
    color: #fff;
    border-radius: 3px;
    border: none;
    text-align: center;
}

body .button {
    border: none;
}

.button:hover,
.form-5 .button:hover {
    outline: none;
    border-radius: 3px;
    box-shadow: (0px 2px 2.5px rgba(8, 118, 52, 0.35));
    background-color: #07be51;
}

.form-5 label {
    display: block;
    padding-bottom: 10px;
}

.form-5 td:not(:first-child) {
    padding-left: 5px;
}

.form-5 tr,
.country {
    margin: 0;
    width: 220px;
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid #cccccc;
    padding: 13px 15px;
}

.form-5 input {
    width: 220px;
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    box-sizing: border-box;
    padding: 12px 15px;
}

.adres input {
    width: 450px;
}

.intab {
    margin: 20px 0;
    width: 680px;
}

.form-5 label {
    position: relative;
}

.form-5 label:not(:nth-child(9n)) {
    font-size: 13px;
    color: #b3b3b3;
    font-weight: 400;
    font-family: "Roboto";
}

.thirdtab {

    margin-bottom: 20px;
}

.secondtab input {
    width: 450px;
}

.flexbutton {
    display: flex;
    justify-content: space-between;
    width: 680px;
}

.form-5 .button {
    cursor: pointer;
    background-color: #12d661;
    color: #fff;
    border-radius: 3px;
    border: none;
}

.form-5 [type=reset] {
    cursor: pointer;
    font-weight: 700;
    font-family: "Roboto";
    border: 1px solid #85868d;
    outline: none;
}

.click {
    display: flex;
    justify-content: space-between;
    max-width: 190px;

}

.form-5 [type=reset]:hover {
    color: #ffffff;
    font-weight: 700;
    font-family: "Roboto";
    border-radius: 3px;
    background-color: #85868d;
}

.form-6 {
    position: fixed;
    top: 15%;
    right: 25%;
    padding-bottom: 25px;
}

.form-6 p {
    display: block;
}

.form-6 label:not(.close) {
    font-size: 13px;
    color: #b3b3b3;
    font-weight: 400;
    font-family: "Roboto";
}

.form-6 .close label:first-child {
    font-size: 24px;
}

.form-6 form {
    display: block;
    width: 310px;
    border-radius: 5px;
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.15);
    background-color: #fafafa;
    border: 1px solid #e6e6e6;
}

.form-6 p {
    padding: 0 25px;
    box-sizing: border-box;
}

.form-6 input {
    display: block;
    width: 260px;
    border-radius: 3px;
    border: 1px solid #cccccc;
    box-sizing: border-box;
    padding: 12px 15px;
    margin-bottom: 10px;
    margin-top: 9px;
}

.paroli input {
    display: none;
}

.form-6 label:last-child {
    font-size: 13px;
    top: 0;
    color: #1f222c;
    font-weight: 400;
    font-family: "Roboto";
    position: relative;
    padding-left: 30px;
}

.form-6 [type=submit] {
    width: 260px;
    text-align: center;
    border: none;
}

.close label {
    width: 10px;
    color: grey;
    text-transform: (-45deg);
}

.form-6 a {
    font-size: 13px;
    color: #3e6aff;
    font-weight: 400;
    font-family: "Roboto";
    text-decoration: none;
}

.form-6 a:hover {
    text-decoration: underline;
}

.close {
    position: absolute;
    font-size: 24px;
    width: 10px;
    transform: rotate(45deg);
    right: 20px;
    cursor: pointer;
    color: #b3b3b3;
}

.close:hover {
    transform: rotate(75deg);

}
.sel{
    position: relative;
    display: inline-block;
    width: 100%;
    background-color: #fff;
}
.sel select{
    appearance: none;
    position: relative;
    background-color: transparent;
}
.sel::before{
    content: "";
    position: absolute;
    border: 5px solid transparent;
    border-top-color: #000;
    right: 20px;
    bottom: 22px;
    z-index: 0;
    
}